# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
accelerate=0.20.3=pypi_0
aiohttp=3.8.4=pypi_0
aiosignal=1.3.1=pypi_0
altair=5.0.1=pypi_0
async-timeout=4.0.2=pypi_0
attrs=23.1.0=pypi_0
backports-zoneinfo=0.2.1=pypi_0
beautifulsoup4=4.12.2=pypi_0
blinker=1.6.2=pypi_0
bs4=0.0.1=pypi_0
ca-certificates=2023.05.30=h06a4308_0
cachetools=5.3.1=pypi_0
certifi=2023.5.7=pypi_0
charset-normalizer=3.1.0=pypi_0
click=8.1.3=pypi_0
cmake=3.26.4=pypi_0
dataclasses-json=0.5.8=pypi_0
decorator=5.1.1=pypi_0
faiss-cpu=1.7.4=pypi_0
filelock=3.12.2=pypi_0
frozenlist=1.3.3=pypi_0
fsspec=2023.6.0=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.31=pypi_0
greenlet=2.0.2=pypi_0
huggingface-hub=0.15.1=pypi_0
idna=3.4=pypi_0
importlib-metadata=6.7.0=pypi_0
importlib-resources=5.12.0=pypi_0
jinja2=3.1.2=pypi_0
jsonschema=4.17.3=pypi_0
langchain=0.0.212=pypi_0
langchainplus-sdk=0.0.17=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.4.4=h6a678d5_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
lit=16.0.6=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.3=pypi_0
marshmallow=3.19.0=pypi_0
marshmallow-enum=1.5.1=pypi_0
mdurl=0.1.2=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.4=pypi_0
mypy-extensions=1.0.0=pypi_0
ncurses=6.4=h6a678d5_0
networkx=3.1=pypi_0
numexpr=2.8.4=pypi_0
numpy=1.24.3=pypi_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cuda-cupti-cu11=11.7.101=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-curand-cu11=10.2.10.91=pypi_0
nvidia-cusolver-cu11=11.4.0.1=pypi_0
nvidia-cusparse-cu11=11.7.4.91=pypi_0
nvidia-nccl-cu11=2.14.3=pypi_0
nvidia-nvtx-cu11=11.7.91=pypi_0
openai=0.27.8=pypi_0
openapi-schema-pydantic=1.2.4=pypi_0
openssl=3.0.9=h7f8727e_0
packaging=23.1=pypi_0
pandas=2.0.2=pypi_0
pillow=9.5.0=pypi_0
pip=23.1.2=py38h06a4308_0
pkgutil-resolve-name=1.3.10=pypi_0
protobuf=4.23.3=pypi_0
psutil=5.9.5=pypi_0
pyarrow=12.0.1=pypi_0
pydantic=1.10.9=pypi_0
pydeck=0.8.1b0=pypi_0
pygments=2.15.1=pypi_0
pympler=1.0.1=pypi_0
pypdf2=3.0.1=pypi_0
pyrsistent=0.19.3=pypi_0
python=3.8.16=h955ad1f_4
python-dateutil=2.8.2=pypi_0
python-dotenv=1.0.0=pypi_0
pytz=2023.3=pypi_0
pytz-deprecation-shim=0.1.0.post0=pypi_0
pyyaml=6.0=pypi_0
readline=8.2=h5eee18b_0
regex=2023.6.3=pypi_0
requests=2.31.0=pypi_0
rich=13.4.2=pypi_0
safetensors=0.3.1=pypi_0
sentencepiece=0.1.99=pypi_0
setuptools=67.8.0=py38h06a4308_0
six=1.16.0=pypi_0
smmap=5.0.0=pypi_0
soupsieve=2.4.1=pypi_0
sqlalchemy=2.0.17=pypi_0
sqlite=3.41.2=h5eee18b_0
streamlit=1.23.1=pypi_0
sympy=1.12=pypi_0
tenacity=8.2.2=pypi_0
tiktoken=0.4.0=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.13.3=pypi_0
toml=0.10.2=pypi_0
toolz=0.12.0=pypi_0
torch=2.0.1=pypi_0
torchaudio=2.0.2=pypi_0
torchvision=0.15.2=pypi_0
tornado=6.3.2=pypi_0
tqdm=4.65.0=pypi_0
transformers=4.30.2=pypi_0
triton=2.0.0=pypi_0
typing-extensions=4.6.3=pypi_0
typing-inspect=0.9.0=pypi_0
tzdata=2023.3=pypi_0
tzlocal=4.3.1=pypi_0
urllib3=2.0.3=pypi_0
validators=0.20.0=pypi_0
watchdog=3.0.0=pypi_0
wheel=0.38.4=py38h06a4308_0
xz=5.4.2=h5eee18b_0
yarl=1.9.2=pypi_0
zipp=3.15.0=pypi_0
zlib=1.2.13=h5eee18b_0
