# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

accelerate>=0.2.0
aiohttp>=3.8.4
aiosignal
altair
async-timeout
attrs
backports-zoneinfo
beautifulsoup4
blinker
bs4>=0.0.1
cachetools
certifi
charset-normalizer
click
cmake
dataclasses-json
decorator
faiss-cpu>=1.7.4
filelock
frozenlist
fsspec
gitdb
gitpython
greenlet
huggingface-hub
idna
importlib-metadata
importlib-resources
jinja2
jsonschema
langchain
lit
markdown-it-py
markupsafe
marshmallow
marshmallow-enum
mdurl
mpmath>=1.3.0
multidict
mypy-extensions
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
openai
openapi-schema-pydantic
openssl
packaging
pandas>=2.0.2
pillow>=9.5.0
pip>=23.1.2
pkgutil-resolve-name
protobuf
psutil
pyarrow
pydantic
pydeck
pygments
pympler
pypdf2
pyrsistent
python>=3.8.16
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
pyyaml
readline
regex
requests
rich
safetensors
sentencepiece
setuptools
six
smmap
soupsieve
sqlalchemy
sqlite
streamlit
sympy
tenacity
tiktoken
tk
tokenizers
toml
toolz
torch
torchaudio>
torchvision
tornado
tqdm
transformers
triton
typing-extensions
typing-inspect
tzdata
tzlocal
urllib3
validators
watchdog
wheel
xz
yarl
zipp
zlib
